<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>VMS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutus">About Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              MyActions
            </a>

    <% if(loggedInUser.isadmin){ %>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/secret/logs">View UserLogs</a>
              <a class="dropdown-item" href="/secret/vlogs">View VisitorLogs</a>
              <a class="dropdown-item" href="/secret">Create Local Admins</a>
              <!-- <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout">Logout</a> -->
            </div>
          <% } %>
          <%if(loggedInUser.islocal){%>

                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="secret/logs">View UserLogs</a>
                    <a class="dropdown-item" href="secret/vlogs">View VisitorLogs</a>
                    <a class="dropdown-item" href="/secret">New Visitor Entry</a>
                    <!-- <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Logout</a>-->
                  </div>
                <%}%>
                <%if(!loggedInUser.islocal && !loggedInUser.isadmin){%>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <!-- <a class="dropdown-item" href="secret/logs">View UserLogs</a>
                          <a class="dropdown-item" href="secret/vlogs">View VisitorLogs</a> -->
                          <a class="dropdown-item" href="/secret">notDecided</a>
                          <!-- <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/logout">Logout</a>-->
                        </div>
                      <%}%>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li> -->
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        <ul class="navbar-nav ml-auto">
          <% if(loggedInUser){ %>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          <% } else{ %>
            <li class="nav-item active">
              <a class="nav-link" href="/register">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          <%} %>
        </ul>

      </div>
    </nav>
