<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>What About Us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
  .jumbotron {
    background-color: dark;
    color: dark;
    padding: 100px 25px;
  }
  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: dark;
  }
  .logo-small {
    color: #f4511e;
    font-size: 50px;
  }
  .logo {
    color: #f4511e;
    font-size: 200px;
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
  </style>
</head>
<body>

<div class="jumbotron text-center">
  <center>
    <div class="">
     <span class="glyphicon glyphicon-globe logo"></span>
    </div>
  </center>
  <h1>VMS</h1>
  <p>A visitor management systems which offer users and administrators a platform to manage their daily activities in an organized and hierarchial way.</p>
  <form class="form-inline">
    <!-- <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="Email Address" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Subscribe</button>
      </div>
    </div> -->
  </form>
</div>

<!-- Container (About Section) -->
<div class="container-fluid ">
  <div class="row">
    <center>
      <h2>Rounak Basu</h2>
      <h4>Student of CSE (3rd year) at IEM-Kolkata </h4>
    </center>
      <p> </p>



  </div>
</div>

<!-- <div class="container-fluid bg-grey">
  <div class="row">
     <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo"></span>
    </div>
   <div class="col-sm-8">
      <h2>Our Values</h2>
      <h4><strong>Mission :</strong> Owning a monopoly.</h4>
      <h4><strong>Vision :</strong> Sit down, Be Humble.</h4>
    </div>
  </div>
</div> -->

<!-- Container (Services Section)
 <div class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>We are known for.</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>POWER</h4>
      <p>To handle users and visitors.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>Aesthetics</h4>
      <p>User-friendly and informal interfaces.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>Loyalty</h4>
      <p>What we're known for.</p>
    </div>
  </div>
  <br><br>
   <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>CSR</h4>
      <p>Save the natural resources. </p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>Certified</h4>
      <p>Ask around and you'll know.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4 style="color:#303030;">Hard-work</h4>
      <p>No alternative.</p>
    </div>
  </div>
</div> -->

</body>
</html>
