<% include ./partials/header.ejs %>


<h1><center>Welcome to your desk</center></h1>

<!-- <center><a href="/secret/logs">click here to view user logs</a></center>
<br>
<br>
<% if(loggedInUser.isadmin || loggedInUser.islocal){ %>
<center><a href="/secret/vlogs">click here to view visitor logs</a></center>
<br>
<br>
<%}%> -->
<% if(loggedInUser.isadmin){ %>


  <div class="container text-center">
    <h3>Create A Local Admin</h3>
    <div class="" style="display:inline-block; width:80%">
      <FORM NAME="form1" ACTION="/registerlocal" METHOD="post">
        Enter UserName : <br> <INPUT TYPE="TEXT" NAME="username" VALUE=""><br>
        Enter Password : <br> <INPUT TYPE="password" NAME="password" VALUE=""> <br>
        Enter PhoneNumber :  <br> <INPUT TYPE="TEXT" NAME="phonenumber" VALUE=""><br>
        <INPUT TYPE="SUBMIT" VALUE="Submit!" >
      </FORM>
    </div>
  </div>
  <%}%>

<%if(loggedInUser.islocal){ %>
<br>
<br>
  <div class="container text-center">
    <h3>Add entry to visitor logs</h3>
    <div class="" style="display:inline-block; width:80%">
      <FORM NAME="form1" ACTION="/visitorentry" METHOD="post">
        Enter Visitor Name : <br> <INPUT TYPE="TEXT" NAME="visitorName" VALUE=""><br>
        Enter Employee Name : <br> <INPUT TYPE="text" NAME="empName" VALUE=""> <br>
        Enter Employee ID :  <br> <INPUT TYPE="TEXT" NAME="empID" VALUE=""><br>
        Enter Department : <br> <INPUT TYPE="text" NAME="dept" VALUE=""> <br>
        Enter Duration Of Visit :  <br> <INPUT TYPE="TEXT" NAME="duration" VALUE=""><br>  
        Enter Purpose Of Visit :  <br> <INPUT TYPE="TEXT" NAME="purpose" VALUE=""><br>
        <INPUT TYPE="SUBMIT" VALUE="Submit!" >
      </FORM>
    </div>
  </div>

<%}%>
<% include ./partials/footer.ejs %>
