<% include ./../partials/header.ejs %>

<br>
<br>

<center>  <img src="https://media.giphy.com/media/OF0yOAufcWLfi/200.gif" alt="Welcome">
</center>
<br>
<br>
<br>

<div class="container text-center">
  <div class="" style="display:inline-block; width:80%">
    <FORM NAME="form1" ACTION="/register" METHOD="post">
      Enter UserName : <br> <INPUT TYPE="TEXT" NAME="username" VALUE=""><br>
      Enter Password : <br> <INPUT TYPE="password" NAME="password" VALUE=""> <br>
      Enter PhoneNumber :  <br> <INPUT TYPE="TEXT" NAME="phonenumber" VALUE=""><br>
      <INPUT TYPE="SUBMIT" VALUE="Submit!" >
    </FORM>
  </div>
</div>


<% include ./../partials/footer.ejs %>
